<div id="container">
  <h1>To-Do List <i class="fa fa-plus" (click)="toggleInput()"></i></h1>
  <input [(ngModel)]="todoTitle" type="text" (keydown)="onKeydown($event)" placeholder="Add New Todo">
  <ul>
    <li (swiperight)="onSwipeRight($event)" [@fadeAnimation] *ngFor="let todo of todos" (click)="markDone(todo)" [ngClass]="{'completed': todo.done}">
      <span (click)="removeTodo(todo, $event)"><i class="fa fa-trash"></i></span>{{todo.title}}
    </li>
  </ul>
</div>
