/* You can add global styles to this file, and also import other style files */
body {
  font-family: Roboto;
  background: #654ea3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eaafc8, #654ea3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
